>static_port
7777
>start_port
8880
>static_path
public
>sparse_db
data/phaw23.ref.db
>sparse_index
data/phaw23.ref.index
>feature_db
data/phaw23.feat.db
>feature_index
data/phaw23.feat.index
>seq_db
data/phaw23.seq.db
>seq_index
data/phaw23.seq.index
>blast_bin
/home/share/software/blast+/ncbi-blast-2.2.29+/bin/
>blast_threadsPerJob
2
>blast_jobsMax
5
>blast_config
phaw23	/home/damian/blastdb/phaw23	Parhyale hawiensis draft genome assembly 2.3	n	genome
